body{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/* introduction Section Start */
.introduction-area-items{
    display: flex;
}
.introduction-texts-items{
    width: 500px;
    padding: 100px;
}
.main-header-container{
    display: flex;
    width: 700px;
    height: 200px;
}
.header-border{
    border: 3px solid crimson;
    border-radius: 10px;
    margin-top:25px ;
    height: 63%;
}
.main-header{
    font-family: 'Montagu Slab', serif;
    margin: 0px 0px 0px 15px ;
}
.font-orange{
    color: orange;
}
.header-1{
    font-size: 70px;
}
.header-2{
    font-size: 40px;
    text-align: center;
}
.header-3{
    font-size: 50px;
}
.header-4{
     font-size: 30px;
}
.button-1{
    margin-top:40px ;
    margin-bottom:50px ;
}
.button-1 a{
    text-decoration: none;
    color: white;
    background-color:tomato;
    padding: 15px 50px;
    font-size: 20px;
    border-radius: 5px;
}
.button-2{
    margin-top:90px ;
    margin-bottom:50px ;
    text-align: center;
}
.button-2 a{
    text-decoration: none;
    color:black;
    background-color:rgba(30, 143, 255, 0.644);
    padding: 15px 50px;
    font-size: 20px;
    border-radius: 10px;
    border:2px solid rgb(30, 143, 255);
    font-weight: 900;
}

.profile-picture{
    width: 50%;
}
.profile-picture img{
    padding-top: 100px;
    width: 600px;
}

/* Missions Section Start */
.missions-boxes-container{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.area-of-mission-box{
    width:400px;
    height:400px;
    border-radius: 30px;
    padding:2%;
}
.area-of-mission-box img{
    height:40%;
}
.mission-box{
     background-color:lightgreen;
}
.vision-box{
    background-color:darksalmon;
    margin-left: 2%;
    margin-right: 2%;
}
.goals-box{
     background-color:yellow;
}

/* Develop Section Start */
.develop-area-items, .global-community{
    display: flex;
    margin-top: 100px;
    height: 600px;
}
#develop-image-area{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position-x: 65px;
    background-position-y: 70px;
    background-size: 300px;
    width: 40%;
}
#coding-image{
    margin-left:200px;
    width:500px;
}
.develop-text-area,.global-community-text-area{
    padding-left: 100px;
    padding-right: 100px;
    width: 50%;
}
#seperate-develop-line, #seperate-gobal-community-line{
    display: block;
}

/* Global Community Section Start */
#project-image-area{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position-x: 370px;
    background-position-y: 340px;
    background-size: 240px;
    width: 40%;
}
#project-image{
    margin-right:200px;
    width:500px;
}

/* Contact Section Start */
.contact-boxes-container{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.area-of-contact-box{
    width:400px;
    height:400px;
    padding:2%;
}
.area-of-contact-box img{
    height:40%;
}
.gitHub-box{
    border: 4px solid;
    border-image:linear-gradient(rgba(0, 0, 255, 0.466),rgba(255, 102, 0, 0.5));
    border-image-slice: 1;
    width: 30%;
}
.linkedIn-box{
    
    border: 4px solid;
    border-image:linear-gradient(rgba(0, 0, 255, 0.466),rgba(255, 102, 0, 0.5));
    border-image-slice: 1;
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    width: 30%;
}
.facebook-box{
    border: 4px solid;
    border-image:linear-gradient(rgba(0, 0, 255, 0.466),rgba(255, 102, 0, 0.5));
    border-image-slice: 1;
    width: 30%;
}

/* Footer Start */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}
footer h1{
    font-family: 'Lobster', cursive;
}
footer span{
    color:crimson;
}