body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
}
.header-text{
    width: 100%;
    font-family: 'Montagu Slab', serif;
    font-size: 80px;
    margin: 0px 0px 0px 15px ;
}
.h2-font-size{
    font-size: 40px;
}
.font-orange{
    color: orange;
}
.header-border{
    margin-top:25px ;
    height: 77%;
    border: 3px solid crimson;
    border-radius: 10px;
}
.header-text-container{
    width: 700px;
    height: 200px;
    display: flex;
}
.button{
    margin-top:40px ;
    margin-bottom:50px ;
}
.button a{
    text-decoration: none;
    color: white;
    background-color:tomato;
    padding: 15px 50px 15px 50px;
    font-size: 20px;
    border-radius: 5px;
}
.introduction-texts{
    width: 40%;
    padding: 10% 0% 0% 10%;
}
.introduction-area{
    display: flex;
}
.introduction-image{
    width: 45%;
}
.introduction-image img{
    padding-top: 10%;
    width: 80%;
}